<div class="container">
    <div class="signup" id="signup">
    <h1>Sign Up</h1>
    <br>
    <form [formGroup]="signupform" (ngSubmit)="signup()">
    <div class="row">
    <div class="col-sm-2 item"><input formControlName="username" type="text" name="username" id="username" required placeholder="Username"></div>
    <div class="col-sm-2 item"><input formControlName="password" type="text" name="password" id="password" required placeholder="Password"></div>
    <div class="col-sm-1 item"><button >Sign Up</button></div>
    <div class="col-sm-4 item"><a routerLink="">Have an account? Sign In!</a></div>
    </div>
    </form>
    </div>
</div>       